@model eUp.Models.Field

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.FieldName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FieldName)
    @Html.ValidationMessageFor(model => model.FieldName)
</div>  

