
@model IEnumerable<eUp.Models.Field>
@{
    ViewBag.Title = "DbConnect";
}

<h2>DbConnect</h2>

    <h2>Fields List</h2>

    @foreach (var i in Model)
    {
    <tr>
        <td>
		    @i.FieldName.ToString();
        </td>

    </tr>
     }
        