
@{
    ViewBag.Title = "FillTable";
}

<h2>Table</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @*Html.EditorForModel();*@
    <fieldset>
        <legend>UserTable</legend>

         @foreach(string i in ViewBag.Columns)
         {
         <div class="editor-label">
            <p>
            @i
            </p>
         </div>
         <div class="editor-field">
            <p>
            @Html.TextBox(i)
            </p>
         </div>
         }
    </fieldset>
    <p>
         <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
