@model IEnumerable<eUp.Models.UserTable>

@{
    ViewBag.Title = "My Forms";
}

@foreach (var item in Model) {
    <div data-role="collapsible-set">
            <div data-role="collapsible">
                <h3>
                    @item.TableName
                </h3>
                <ul data-role="listview" data-theme="c" data-inset="true">
                <li>
                @Html.ActionLink("Data" , "TableData", new { id = item.UserId, tableId = item.UserTableId })
                </li>
                 <li>
                 @Html.ActionLink("Statistics", "GetStatistics", new { id = item.UserId, tableId = item.UserTableId })
                </li>
                 <li>
                 @Html.ActionLink("User View", "FillTable", new { id = item.UserId, tableId = item.UserTableId })
                </li>
              </ul>
            </div>
        </div>  
}

