@model IEnumerable<eUp.Models.UserTable>

@{
    ViewBag.Title = "My Forms";
}

 <ul data-role="listview" data-inset="true">
@foreach (var item in Model) {
    <li>
     
        @Html.ActionLink(item.TableName, "TableData", new { id = item.UserId, tableId = item.UserTableId })
        @Html.ActionLink("Statistics", "GetStatistics", new { id = item.UserId, tableId = item.UserTableId })
        @Html.ActionLink("User View", "FillTable", new { id = item.UserId, tableId = item.UserTableId })
    </li>
    
}
 </ul>
