@model IEnumerable<dynamic>

@{
    ViewBag.Title = "TableData";
}

<h2>TableData</h2>
@{
    var grid = new WebGrid(Model);
                          
 }

<div>
 @grid.GetHtml()
</div>
        
           
