@model System.Data.DataTable 
@using System.Data; 

@{
    ViewBag.Title = "My Forms";
}

@Html.ActionLink("Export", "ExportCSV", new { id = WebSecurity.CurrentUserId, tableId = ViewBag.tableId }, new { @class = "exportCSV" })
@*@Html.ActionLink("Export", "ExportXML", new { id = WebSecurity.CurrentUserId, tableId = ViewBag.tableId }, new { @class = "exportXML" })*@

<table> 
    <thead> 
    <tr> 
    @foreach (DataColumn col in Model.Columns)     
    {          var n = col.ColumnName;
        if(n.Equals("UserTableId"))
        { n = "#"; }
        <th>@n</th> 
    }     
    </tr> 
    </thead>         
    <tbody> 
    @foreach (DataRow row in Model.Rows)     
    {         
        <tr> 
        @foreach (DataColumn col in Model.Columns)         
        {              
            <td>@row[col.ColumnName]</td> 
        }         
        </tr> 
    }     
    </tbody> 
</table>


           
