@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<article>
    <p>
    <h3>Aims</h3>
        Provide alternative to pen and paper sign ups
    </p>

    <p>
    <h3>Technical Details</h3>
    The site is developed using ASP.NET and the MVC 4 architectural framework.
        C#, HTML, Javascript, ELMAH, etc
    </p>
</article>

<aside>
    <h3>Created by</h3>
    <p>
        Shane Murphy &
        Maciej Macierzynski
        2013 &copy;
    </p>

</aside>