@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
 <p>
        <span class="label">E-mail:</span>
        <span><a href="mailto:X00085315@ittd.ie">College</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:smur89@gmail.com">Personal</a></span>
    </p>
    <p>
        <span class="label">Telephone:</span>
        <span>087-280-6262</span>
    </p>
    <p>
        <span class="label">Address:</span><br />
        <span>&nbsp;&nbsp;&nbsp;12 Ashfield Avenue,<br />
        &nbsp;&nbsp;&nbsp;Kingswood,<br />
        &nbsp;&nbsp;&nbsp;Tallaght,<br />
        &nbsp;&nbsp;&nbsp;Dublin 24</span>
    </p>
    </section>
<section class="contact">
    <header>
        <h3>Maciej Macierzynski</h3>
    </header>
    <p>
        <span class="label">E-mail:</span>
        <span><a href="mailto:X00086366@ittd.ie">College</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:maciej.macierzynski@gmail.com">Personal</a></span>
    </p>
    <p>
        <span class="label">Telephone:</span>
        <span>085-281-8811</span>
    </p>
    <p>
        <span class="label">Address:</span><br />
        <span>&nbsp;&nbsp;&nbsp;12 Ashfield Avenue,<br />
        &nbsp;&nbsp;&nbsp;Kingswood,<br />
        &nbsp;&nbsp;&nbsp;Tallaght,<br />
        &nbsp;&nbsp;&nbsp;Dublin 24</span>
    </p>
</section>
</section>