@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="../../Content/jsImgSlider/themes/8/js-image-slider.js"></script>


@section featured {


            <div id="slider">
                <img src="../../Content/jsImgSlider/images/kevjames.jpg" alt="The Happy Couple. (slide 1)" />
                <img src="../../Content/jsImgSlider/images/drops.jpg" alt="Some tears shed during the project (slide 2)" />
                <a href="http://www.menucool.com"><img src="../../Content/jsImgSlider/images/monkey.jpg" alt="Maciej at work. (slide 3)"/></a>
                <img src="../../Content/jsImgSlider/images/room.jpg" alt="New house after project launch and buyout for millions. (slide 4)" />
                <img src="../../Content/jsImgSlider/images/landscape.jpg" alt="View from outside the house. (slide 5)" />
            </div>

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome To eUp</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Create a new account with us, or Log in using Google or Facebook.
    </li>

    <li class="two">
        <h5>Create Your Forms</h5>
        eUp makes it easy for you to create your own customised forms and questions
        to present to your clients.
    </li>

    <li class="three">
        <h5>Collect Your Data</h5>
        You can present data to your clients on any mobile device. You may also give
        give customers the public URL  to your form, or publish this to your social networking sites
        in order to collect data remotely.
    </li>
</ol>
