
@if(Request.IsAuthenticated) {
    @Html.ActionLink(User.Identity.Name, "ListTable", "UserTables", routeValues: null, htmlAttributes: new { data_icon = "gear" })

     using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })){
     @Html.AntiForgeryToken()
     <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
     }
}
else
{
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}
